{% extends 'base2.html' %}
{% block title %}Edita resultado{% endblock %}

{% block body %}
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content container">
		<div class="card">
			<div class="row align-items-center justify-content-center">

						<form action="" method="post" id="formul" novalidate>
						{{ form.hidden_tag() }}
						<div class="input-group mb-2">
							<h4 class="mb-3 f-w-400">Editar datos resultados evaluación</h4>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-user-plus"></i>Usuario</span>
							</div>
							{{ form.usuario(class_= "form-control") }} <a class="btn btn-success" href="{{ url_for('usuario') }}" role="button">Añadir nuevo</a><br>
							{% for error in form.usuario.errors %}
								<span style="color: red;">{{ error }}</span>
							{% endfor %}
<!--							<input type="password" class="form-control" placeholder="Password">-->
						</div>
						<div class="input-group mb-2">

							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-clock"></i>Fecha</span>
							</div>
							{{ form.fecha(class_= "form-control", size=64, value=resultado.fecha) }}
<!--							<input type="email" class="form-control" placeholder="Email address">-->
							{% for error in form.fecha.errors %}
                        		<span style="color: red;">{{ error }}</span>
                        	{% endfor %}
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-clipboard"></i> Comentario</span>
							</div>
							{{ form.comentario(class_= "form-control", value=resultado.comentario) }} <br>
							{% for error in form.comentario.errors %}
								<span style="color: red;">{{ error }}</span>
							{% endfor %}
<!--							<input type="password" class="form-control" placeholder="Password">-->
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-plus"></i>AA CC</span>
							</div>
							{{ form.aa_cc(class_= "form-control", size=64, value=resultado.aa_cc) }}<br>
							{% for error in form.aa_cc.errors %}
								<span style="color: red;">{{ error }}</span>
							{% endfor %}
<!--							<input type="password" class="form-control" placeholder="Password">-->
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-shuffle"></i>Excepcionalidad</span>
							</div>
							{{ form.excepcionalidad(class_= "form-control", size=64, value=resultado.excepcionalidad) }}<br>
							{% for error in form.excepcionalidad.errors %}
								<span style="color: red;">{{ error }}</span>
							{% endfor %}
<!--							<input type="password" class="form-control" placeholder="Password">-->
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="feather icon-move"></i>Recomendación</span>
							</div>
							{{ form.recomendacion(class_= "form-control", size=64, value=resultado.recomendacion) }}<br>
							{% for error in form.recomendacion.errors %}
								<span style="color: red;">{{ error }}</span>
							{% endfor %}
<!--							<input type="password" class="form-control" placeholder="Password">-->
						</div>
						{{ form.submit(class_= "btn btn-primary mb-4") }}
							<!--<button class="btn btn-primary mb-4">Login</button>-->

						</form>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
{% endblock %}
{% block js_page %}

{% endblock %}

