{% extends 'base2.html' %}

{% block title %} Informe S2 {% endblock %}
{% block css_page %}
    <style type='text/css'>
        body{
            font-family: 'Roboto', sans-serif;
        }
        .nuevo-estilo {
            margin: 15px 0px;
            background-color: #EFEDF1;
            border: 1px solid #E2E3E8;
            padding: 10px 1px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center">Informe del S2</h1>
    {% for info in datos %}
    <div class="row">
        <div class="col-3 col-sm-2">Nombre:</div>
        <div class="col-6">{{info.Nombre_y_apellido}}</div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-2">Edad:</div>
        <div class="col-6">{{info.Edad}}</div>
    </div>

   <!-- <div class="row">

            <div class="col-2">Baremo:</div>
        <form method="post" class="row g-6">
            <div class="col-auto">
                <div class="input-group">
                    <input class="form-control-sm" list="datalistOptions" id="baremo_p1" name="baremo_p1" placeholder="Baremo..." value="{{info.Baremo}}">
                    <datalist id="datalistOptions">
                      <option value="General">
                      <option value="Mujeres">
                      <option value="Varones">
                    </datalist>
                    <button type="submit" class="btn btn-outline-primary mb-3">Cambiar baremo</button>
                </div>
            </div>

        </form>
    </div>-->
    <div class="row">
        <br>
            <div class="col-2">Baremo:</div>
            <form METHOD="post" class="row g-8">
            <div class="form-group col-6">
                <select class="form-control" id="baremo_s2" name="baremo_s2">
                 <option value="">Elegir</option>
                 {% for value in lista %}
                    {% if value == info.Baremo %}
                        <option value="{{ value }}" selected >{{ value }}</option>
                    {% else %}
                        <option value="{{ value }}"  >{{ value }}</option>
                    {% endif %}
                 {% endfor %}
                </select>

            </div>
            <button type="submit" class="btn btn-outline-primary mb-5">Cambiar baremo</button>
            </form>
         <br>
    </div>
    <div class="nuevo-estilo">
        <div class="row">
            <div class="col-4">Escalas Clínicas</div>
            <div class="col-2">PD</div>
            <div class="col-2">T</div>
            <div class="col-4">Clasificación</div>
        </div>
    </div>
    <div class="row">
            <div class="col-4">Actitud negativa hacia los profesores</div>
            <div class="col-2">{{info.PD_Actitud_negativa_hacia_los_profesores}}</div>
            <div class="col-2">{{info.T_Actitud_negativa_hacia_los_profesores}}</div>
            <div class="col-4">{{info.Nivel_Actitud_negativa_hacia_los_profesores}}</div>
    </div>
    <div class="row">
            <div class="col-4">Actitud negativa hacia el colegio</div>
            <div class="col-2">{{info.PD_Actitud_negativa_hacia_el_colegio}}</div>
            <div class="col-2">{{info.T_Actitud_negativa_hacia_el_colegio}}</div>
            <div class="col-4">{{info.Nivel_Actitud_negativa_hacia_el_colegio}}</div>
    </div>
    <div class="row">
            <div class="col-4">Ansiedad</div>
            <div class="col-2">{{info.PD_Ansiedad}}</div>
            <div class="col-2">{{info.T_Ansiedad}}</div>
            <div class="col-4">{{info.Nivel_Ansiedad}}</div>
    </div>
    <div class="row">
            <div class="col-4">Atipicidad</div>
            <div class="col-2">{{info.PD_Atipicidad}}</div>
            <div class="col-2">{{info.T_Atipicidad}}</div>
            <div class="col-4">{{info.Nivel_Atipicidad}}</div>
    </div>
    <div class="row">
            <div class="col-4">Depresión</div>
            <div class="col-2">{{info.PD_Depresion}}</div>
            <div class="col-2">{{info.T_Depresion}}</div>
            <div class="col-4">{{info.Nivel_Depresion}}</div>
    </div>
    <div class="row">
            <div class="col-4">Locus de control</div>
            <div class="col-2">{{info.PD_Locus_de_control}}</div>
            <div class="col-2">{{info.T_Locus_de_control}}</div>
            <div class="col-4">{{info.Nivel_Locus_de_control}}</div>
    </div>
    <div class="row">
            <div class="col-4">Estrés social</div>
            <div class="col-2">{{info.PD_Estres_social}}</div>
            <div class="col-2">{{info.T_Estres_social}}</div>
            <div class="col-4">{{info.Nivel_Estres_social}}</div>
    </div>
    <div class="row">
            <div class="col-4">Sentido de incapacidad</div>
            <div class="col-2">{{info.PD_Sentido_de_incapacidad}}</div>
            <div class="col-2">{{info.T_Sentido_de_incapacidad}}</div>
            <div class="col-4">{{info.Nivel_Sentido_de_incapacidad}}</div>
    </div>
    <div class="nuevo-estilo">
        <div class="row">
            <div class="col-4">Escalas Adaptativas</div>
            <div class="col-2">PD</div>
            <div class="col-2">T</div>
            <div class="col-4">Clasificación</div>
        </div>
    </div>
    <div class="row">
            <div class="col-4">Relaciones interpersonales</div>
            <div class="col-2">{{info.PD_Relaciones_interpersonales}}</div>
            <div class="col-2">{{info.T_Relaciones_interpersonales}}</div>
            <div class="col-4">{{info.Nivel_Relaciones_interpersonales}}</div>
    </div>
    <div class="row">
            <div class="col-4">Relaciones con los padres</div>
            <div class="col-2">{{info.PD_Relaciones_con_los_padres}}</div>
            <div class="col-2">{{info.T_Relaciones_con_los_padres}}</div>
            <div class="col-4">{{info.Nivel_Relaciones_con_los_padres}}</div>
    </div>
    <div class="row">
            <div class="col-4">Autoestima</div>
            <div class="col-2">{{info.PD_Autoestima}}</div>
            <div class="col-2">{{info.T_Autoestima}}</div>
            <div class="col-4">{{info.Nivel_Autoestima}}</div>
    </div>
    <div class="row">
            <div class="col-4">Confianza en sí mismo</div>
            <div class="col-2">{{info.PD_Confianza_en_si_mismo}}</div>
            <div class="col-2">{{info.T_Confianza_en_si_mismo}}</div>
            <div class="col-4">{{info.Nivel_Confianza_en_si_mismo}}</div>
    </div>

    {% endfor %}
</div>
{% endblock %}
{% block js_page %}

{% endblock %}